html,
body {
  background-color: rgba(0, 0, 0, 0.747);
  height: 100%;
}
.scores{
display: flex;
flex-direction:row;
overflow-wrap: break-word;
object-fit: cover;
color:white;
justify-content:center;
   width:100% ;
  height: 100%;
}
h2{
  margin: 44px;
  font-stretch: none ;
  font-size: 45px;
}
h1{
  margin: auto;
  position: fixed;
  color:rgba(61, 252, 61, 0.705);
  font-stretch: condensed;
  font-family:ChunkFive;
  font-size: inherit;
}
.div{
  font-size:2.1em; 
  text-align: center;
  width: 49px;
  height: 45px;
}
.dis{
overflow-x: scroll;
max-width:fit-content;
}

.walls{
  display: grid;
  overflow-wrap: normal;
  grid-template-columns: repeat(20,55px);
  grid-template-rows: repeat(20,55px);
  text-align: center;
  justify-content: center;
}
.wall{
width: 50px;

border-radius: 4px;
height: 50px;
outline: none;
text-align: center;
border: none;
margin: none;
}
.passage{
  opacity:none;
  width: 104%;
 height: 104%;
 background-color: inherit;
 border-radius: 0.6em;
 text-align: center;
  outline: none;
  background-color: inherit;
  outline-color: white;
}
.barrier{
border: 2px solid rgba(136, 91, 20, 0.317);
border-radius: 1.1em; 
 opacity: 0.5;

}
.passage:hover{
  background-color: rgba(240, 248, 255, 0);
}
button{
  color:black;
}
p{
  font-size:19px;
  text-align: center;
  overflow: hidden;
  color:rgb(0, 0, 0);
  font-weight: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.items{
  font-size:2.1em; 
  text-align: center;
  width: 49px;
  height: 45px;
}
.lives{
  font-size:2.1em; 
  text-align: center;
  width: 49px;
  height: 45px;
}
button{
  font-size: 10px;
  text-align: center;
}
@media screen and (max-width: 80px) { 
  .walls {
      width:50%;
  grid-template-columns: repeat(20,15px);
  grid-template-rows: repeat(20,15px);
  }
}
  
@media screen and (max-width: 100%) { 
  .walls {
      width:50%;
  grid-template-columns: repeat(20,15px);
  grid-template-rows: repeat(20,15px);
  }
}
@media screen and (max-width: 902px) { 
  .walls {
      width:100%;
  grid-template-columns: repeat(20,35px);
  grid-template-rows: repeat(20,35px);
  }
  body{
    height: auto;
  }
}