.container{}
.container-fluid{}
.fa{}
p{align-content: center;
    margin-top: 100px}
.sec-2{text-align: left;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #333;}
.sec-1{text-align: center;
            background-color: #370D0D;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #ccc;}
.bg-image{background-image: 'url(https://wallpapercave.com/wp/4W2pw5V.jpg)'}