td{width:230px;
   border: solid 2px;
   border-color:green;
  }
th{width:230px;
    border: solid 4px;
    border-color:green;
    background-color:green;
    color: white;
   }
img{width: 40px}

table{align:center;
      margin-left:300px; 
      margin-right:300px; 
    }